# Java / Spring Boot
target/
*.class
*.jar
*.war
*.iml
*.log
logs/
bin/

# IntelliJ IDEA
.idea/
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Node / React
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db
backendVscode/src/main/resources/application.properties
